
.main {
    padding: 128px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #231E1E;
}

.main__text {
    color: #F1F0F0;
    font-family: Inter;
    font-size: 24px;
    line-height: 40px;
    width: 948px;
    text-align: left;
    margin-top: 68px;
}

.main__author {
    color: #989898;
    font-family: Inter;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-top: 96px;
  }