* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .4s all ease-in-out;
}

body, html, #root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: calc(100% - 344px);
}

.btn {
  padding: 12px 55px;
  border-radius: 24px;
  background-color:#DAC2F2;
  border: none;
  color: #231E1E;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.btn:hover {
  background-color:#cfa9f5;
}

a, button {
  cursor: pointer;
}